mixin subject(subject, data)
  td.name=subject
  td=(data.present || 0)
  td=(data['-'] || 0)
  td=data.all
  td=(Math.round((data.present || 0) / data.all * 100 * 10) / 10) + " %"

.bar Historia
table.days.toggle
  for day in days
    tr
      td.date=day.date.toDateString()
      for lesson in day.lessons
        td.lesson
          if lesson
            .name=lesson.lesson.name
            .present
              if lesson.present === true
                | &nbsp;
              else
                span=lesson.present
          else
            | &nbsp;
              
.bar Frekwencja
table.frequency.toggle
  tr
    th Przedmiot
    th Obecne
    th Nieusprawiedliwione
    th Wszystkie
    th Frekwenca
  for data, subject in frequency
    if subject != 'overall'
      tr
        mixin subject(subject, data)
  if frequency.overall
    tr
      mixin subject('WSZYSTKO', frequency.overall)