extends layout

block nav
  include includes/nav

block content
  h1 Twoja frekwencja
  label.label
    input#start(type="date")
    span Od
  label.label
    input#end(type="date")
    span Do
  table.days
    for day in days
      tr
        td.date=day.date.toDateString()
        for lesson in day.lessons
          td.lesson
            if lesson
              .name=lesson.lesson.name
              .present
                if lesson.present === true
                  | &nbsp;
                else
                  =lesson.present
  table.frequency
    tr
      th Przedmiot
      th Obecne
      th Wszystkie
      th Frekwenca
    for data, subject in frequency
      tr
        td.name=subject
        td=data.present
        td=data.all
        td=(Math.round(data.present / data.all * 100 * 10) / 10) + " %"